.signt
{
  padding-top: 10px;
  padding-bottom: 5px;
}
input
{
    color: rgb(255, 255, 255);
    width: 250px;
    height: 28px;
    background-color: rgb(65, 65, 65);
    border: solid .5px rgb(65, 65, 65);;
    border-radius: 3px;
}
input:focus
{
    outline: none;
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
}