.signt1
{
  padding-top: 10px;
  padding-bottom: 5px;
}
input
{
    color: rgb(255, 255, 255);
    width: 250px;
    height: 32px;
    background-color: rgb(65, 65, 65);
    border: solid .5px rgb(65, 65, 65);
    border-radius: 8px;
}
input:focus
{
    outline: none;
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
}

.button1{
  
 padding: 5px;
  height: 45px;
  width: 140px;
  border: #8A88F2;
  border-radius: 15px;
  background-color: #8A88F2;
  color: white;
  font-weight:400;
  font-size:larger;
  display: block;
  margin-left: 45px;
  margin-top: 25px;
}

.text1{
  margin-top: 25px;
 margin-left: 45px;
 font-weight: 500;
}
