div
{
    text-align: left;
    align-items: left;
    font-size: 15px;
    margin: 10px;
}
.main-cont
{
    margin-top: 150px;
    
}
h1{
    margin: 10px;
    font-size: 40px;
}
.sizing1
{
    color: rgb(255, 255, 255);
    width: 350px;
    background-color: rgb(38, 37, 37);
    border: solid .5px rgb(38, 37, 37);
}
.sizing2
{
    resize:none;
    overflow: auto;
    color: rgb(255, 255, 255);
    width: 350px;
    background-color: rgb(38, 37, 37);
    border: solid .5px rgb(38, 37, 37);
}
.sizing2::-webkit-scrollbar
{
    display: none;
}
.form-control:focus{
    background-color: rgb(38, 37, 37);
    border: solid .5px rgb(38, 37, 37);
    color: rgb(255, 255, 255);
}
.button2{
  
    padding: 5px;
     height: 40px;
     width: 120px;
     border: #8A88F2;
     border-radius: 5px;
     background-color: #8A88F2;
     color: white;
     font-weight:400;
     font-size:larger;
     display: block;
     margin-left: 11px;
     margin-top: 0px;
   }