.cont{
    margin-top: 100px;
}
.head1{
    font-size: 80px;
    line-height: 65px;
    font-weight: 700;
}
.head2{
    margin-top: 10px;
    font-size: 24px;
}
.but{
    text-align: center;
    margin-top: 50px;
    width:120px;
    height: 43px;
    font-size: 18px;
    font-weight: 500;
    background-color: #8A88F2;
    border-radius: 5px;
}