.header{
    left: 0px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    height:100px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
    background-color: #121212;
}
.headerLogoWrapper{
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.headerLogo{
    height:40px;
}
.headerLogoWrapper>span> a{
    color: white;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-size: 20px;
}

.headerNavList{
    display: flex;
    list-style-type: none;
    margin: 0px;
    gap:60px;
}

.headerNavList>li>a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.headerNavList >li>img{
    margin-right: 5px;
}
.linkss{
    display: flex;
    align-items: center;
    gap :60px;
    margin-right: 70px;
}
.btt{
    border-radius: 10px;
    font-size: 17px;
    color: white;
    background-color: #8A88F2;
    font-weight: bold;
    height:40px;
    width:90px;
}
.button{
    display: flex;
    align-items: center;
}