@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.heading{
   font-size: 80px;
   font-weight: 700;
   line-height: 1;
   margin-bottom: 68px;
}
.line
{
  
    font-size: 24px;
}
.page1
{
    margin-top: auto;
    height: 95vh;
}
.cont
{
 margin-top: 100px;
}
.secondimg
{
    margin-top: 100px;
}